// Mixins reutilizáveis
@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin responsivo($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 600px) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: 900px) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: 1200px) { @content; }
  }
}
