/* =========================
   VARIÁVEIS DE CORES
========================= */
:root {
    --azul-principal: #4A90E2;
    --azul-hover: #7dabdf;
    --cinza-fundo: #f4f4f4;
    --cinza-card: #e2e2e283;
    --preto: #000;
    --branco: #fff;
    --cinza-borda: #858585;
    --cinza-placeholder: #707070;
}

/* =========================
   RESET E BASE
========================= */
@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cinza-fundo);
}

/* =========================
   HEADER
========================= */
header {
    color: var(--branco);
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 40px 10px;
    margin: 0 auto;
}

header #logo {
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: var(--preto);
    font-family: "Lavishly Yours", cursive;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: var(--preto);
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

header nav ul li a:hover {
    color: var(--azul-principal);
    border-bottom: 1px solid var(--preto);
}

/* =========================
   MENU MOBILE
========================= */
#mobile {
    display: none;
    background-color: var(--preto);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    padding: 100px 80px;
    border-left: 5px solid #4a91e25d;
    border-bottom: 5px solid #4a91e25d;
    text-align: center;
}

#mobile ul {
    flex-direction: column;
    gap: 40px;
}

#mobile ul li a {
    color: var(--branco);
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

#mobile ul li a:hover {
    color: var(--azul-principal);
    border-bottom: 1px solid var(--branco);
}

#menu-mobile {
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: var(--azul-principal);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
    border: 0;
    transition: color 0.3s;
}

/* =========================
   CONTAINER E LAYOUT
========================= */
main {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

/* =========================
   CHAMADA AGÊNCIA
========================= */
.chamada-agencia h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--preto);
}

.chamada-agencia p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000b6;
    margin: 20px 0;
}

.chamada-agencia button,
.contato button,
.depoimentos button {
    background-color: var(--azul-principal);
    color: var(--branco);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    margin-top: 20px;
    transition: background 0.3s, color 0.3s;
}

.chamada-agencia button:hover,
.contato button:hover,
.depoimentos button:hover {
    background-color: var(--azul-hover);
    color: var(--preto);
}

.chamada-agencia a {
    text-decoration: none;
    color: var(--branco);
    padding: 15px 20px;
    display: block;
}

/* =========================
   IMAGEM DESTAQUE
========================= */
.imagem-destaque img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* =========================
   SOBRE
========================= */
.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-color: rgba(245, 245, 220, 0.466);
}

.sobre h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--preto);
}

.sobre p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000b6;
    margin: 20px 0;
}

/* =========================
   SERVIÇOS
========================= */
.servicos {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.servicos h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--preto);
}

.box-servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card-servico {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    height: 250px;
    background-color: var(--cinza-card);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    border-radius: 10px;
    transition: background 0.3s;
    box-sizing: border-box;
}

.card-servico i {
    font-size: 50px;
    color: var(--azul-principal);
    margin: 0 auto;
}

.card-servico h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--preto);
    text-align: center;
}

.card-servico p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000b6;
    margin: 20px 0;
    text-align: center;
}

/* =========================
   DEPOIMENTOS
========================= */
.depoimentos {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.depoimentos h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--preto);
}

.depoimento-cliente {
    width: 100%;
    height: 250px;
    background-color: var(--cinza-card);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto 0 auto;
    padding: 30px 0;
    border-radius: 10px;
    transition: background 0.3s;
}

.foto-cliente {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--preto);
}

.depoimento-cliente p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000b6;
    margin: 20px 0;
    max-width: 400px;
}

.box-cliente h3 {
    font-size: 1.5rem;
    font-weight: 700;

    text-transform: capitalize;
    color: var(--preto);
}

.box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-btn button {
    background-color: var(--azul-principal);
    color: var(--branco);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}

/* =========================
   FORMULÁRIO DE CONTATO
========================= */
.contato {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.contato h2 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 30px 0;
    text-transform: uppercase;
    color: var(--preto);
}

form {
    width: 100%;
}

.box-input {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

input,
textarea {
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid var(--cinza-borda);
    background-color: rgba(245, 245, 220, 0.466);
    outline: none;
    padding: 10px;
}

input {
    width: 50%;
}

input::placeholder {
    color: var(--cinza-placeholder);
}

.contato textarea {
    margin-top: 20px;
    width: 100%;
    resize: vertical;
}

.contato button {
    float: right;
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 10px;
    background-color: var(--azul-principal);
    color: var(--branco);
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

/* =========================
   FOOTER E REDES SOCIAIS
========================= */
footer {
    background-color: var(--azul-principal);
    padding-top: 30px;
    margin-top: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
    position: static;
}

.social-icons li {
    list-style: none;
}

.social-icons li a.icon {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--branco);
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: var(--branco);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    color: #262626;
    border: 1px solid var(--preto);
    transition: .5s;
}

.social-icons li a.icon:hover {
    color: var(--branco);
    transform: rotateY(360deg);
}

.social-icons li a.icon::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--azul-hover);
    transition: .5s;
    z-index: 2;
}

.social-icons li a.icon:hover::before {
    top: 0;
}

.social-icons li a.icon i {
    position: relative;
    z-index: 3;
}

footer span {
    display: block;
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
    font-size: 1rem;
    color: var(--branco);
}

/* =========================
   RESPONSIVIDADE
========================= */
@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    header #logo {
        margin-top: 20px;
    }

    #menu-mobile {
        display: block;
    }

    header nav,
    .imagem-destaque {
        display: none;
    }

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    .box-servicos {
        flex-direction: column;
        align-items: center;
    }

    .card-servico {
        width: 100%;
        max-width: 100%;
        height: 250px;
    }

    .depoimento-cliente {
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    .box-cliente h3 {
        text-align: center;
    }

    .sobre h2,
    .servicos h2,
    .depoimentos h2,
    .contato h2 {
        text-align: center;
        font-size: 2rem;
    }

    .box-input {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    input {
        width: 100% !important;
    }

    .contato button {
        float: none;
        display: block;
        margin: 20px auto 0 auto;
        text-align: center;
    }

    .depoimento-cliente p {
        max-width: 100%;
        text-align: center;
    }

    .container {
        background-color: var(--cinza-card);

    }

    .depoimento-cliente {
        width: 100%;
        height: auto;
    }

    .chamada-agencia h1 {
        font-size: 2rem;
    }
}